<h1>❓絵文字クイズ一覧</h1>
<%= render 'search', q: @q, url: questions_path %>

<p><b>※答えのジャンル（漫画等）はタグに入れるようにお願いします。</b></p>
<% if @questions.any? %>
  <%= paginate @questions %>
  <div class="quiz-list">
    <% @questions.each do |question| %>
      <div class="quiz-card-wrapper">
        <div class="tag-area">
          <%= render 'tag', question: question %>
        </div>

        <%= link_to question_path(question), class: "quiz-card-link" do %>
          <div class="quiz-card">
            <h2><%= question.content %></h2>
            <p>作者：<%= question.user.name %></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
    <%= paginate @questions %>
<% else %>
  <p>該当のクイズはありません！</p>
<% end %>

<h1>👑人気のタグ</h1>

<% ActsAsTaggableOn::Tag.most_used(10).each do |tag| %>
  <%= link_to tag.name, questions_path(tag_name: tag.name), class: "tag-badge" %>
<% end %>
