<h1>❓絵文字クイズ一覧</h1>
<%= render 'search', q: @q, url: questions_path %>

<p>※答えのジャンルは<b>映画・アニメ・漫画・小説</b>でお願いします。</p>
<% if @questions.any? %>
  <%= paginate @questions %>
  <div class="quiz-list">
    <% @questions.each do |question| %>
      <%= link_to question_path(question), class: "quiz-card-link" do %>
        <div class="quiz-card">
          <%= render 'tag', question: question %>
          <h2><%= question.content %></h2>
          <p>作者：<%= question.user.name %></p>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= paginate @questions %>
<% else %>
  <p>まだクイズがありません！</p>
<% end %>
