<h2>✏️ 絵文字クイズを作る</h2>

<%= form_with model: @question, local: true, data: { turbo: false } do |form| %>
  <div class="form-group">
    <%= form.label :content, "クイズの絵文字（例: 📓🍎👿）" %><br>
    <%= form.text_field :content, placeholder: "例: 📓🍎👿", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :correct, "正解" %><br>
    <%= form.text_field :correct, placeholder: "例: DEATH NOTE", class: "form-control" %>
  </div>

  <div class="form-group" style="margin-top: 1rem;">
    <%= form.submit "クイズを作成する 🚀", class: "btn-create" %>
  </div>

  <% if @question.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @question.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% end %>