<h1>この絵文字から何を連想する？</h1>

<div class="quiz-detail-card">
  <h1><%= @question.content %></h1>
</div>
<br>

<% if flash[:notice] %>
  <p class="flash flash-success"><%= flash[:notice] %></p>
<% elsif flash[:alert] %>
  <p class="flash flash-error"><%= flash[:alert] %></p>
<% end %>

<% if current_user == @question.user %>
  <div class="form-group">
    <p>答え：<%= @question.correct %></p>
    <p>解答形式 ：<%= I18n.t("activerecord.attributes.question.answer_type.#{@question.answer_type}") %></p>
    <p> ヒント1 ：<%= @question.hint_1 %></p>
    <p> ヒント2 ：<%= @question.hint_2 %></p>
    <p> ヒント3 ：<%= @question.hint_3 %></p>
    <%= link_to "編集する ✏️", edit_question_path(@question), class: "btn-create" %>
  </div>
<% else %>
  <% if @answer&.result.blank?%>
      <div class="form-group">
        <p> 解答形式 ：<%= I18n.t("activerecord.attributes.question.answer_type.#{@question.answer_type}") %></p>
        <div x-data="{ show1: false, show2: false, show3: false }" class="hint-container">
          <button type="button" class="hint-button" @click="show1 = !show1">
            <span x-text="show1 ? 'ヒント1を隠す' : 'ヒント1を表示'"></span>
          </button>
          <div x-show="show1" x-transition class="hint-box">
            <% if @question.hint_1.present? %>
              <p>ヒント1: <%= @question.hint_1 %></p>
            <% end %>
          </div>

          <button type="button" class="hint-button" @click="show2 = !show2">
            <span x-text="show2 ? 'ヒント2を隠す' : 'ヒント2を表示'"></span>
          </button>
          <div x-show="show2" x-transition class="hint-box">
            <% if @question.hint_2.present? %>
              <p>ヒント2: <%= @question.hint_2 %></p>
            <% end %>
          </div>

          <button type="button" class="hint-button" @click="show3 = !show3">
            <span x-text="show3 ? 'ヒント3を隠す' : 'ヒント3を表示'"></span>
          </button>
          <div x-show="show3" x-transition class="hint-box">
            <% if @question.hint_3.present? %>
              <p>ヒント3: <%= @question.hint_3 %></p>
            <% end %>
          </div>
        </div>
    <%= form_with(model: [@question, Answer.new], local: true, data: { turbo: false }) do |f|%>
      <div class="form-group">
        <%= f.label :body, "あなたの答え" %><br>
        <%= f.text_field :body, class: "form-control" %>
      </div>
      </div>
      <div class="form-group">
        <%= f.submit "答え合わせ 🔍", class: "btn-create" %>
      </div>
    <% end %>
  <% else %>
    <p>あなたの答え：<%= @answer.body %></p>
    <p>   正   解  ：<%= @question.correct %></p>
    <p>   結   果  ：
      <% if @answer.result %>
        <span class="correct">⭕</span>
      <% else %>
        <span class="incorrect">❌</span>
      <% end %>
    </p>
  <% end %>
<% end %>

<%= link_to "← 他のクイズを見る", questions_path, class: "btn" %>