<h1>この絵文字から何を連想する？</h1>

<div class="quiz-detail-card">
  <h1><%= @question.content %></h1>
  <%= render 'tag', question: @question %>
</div>

<% if current_user == @question.user %>
  <!-- 作問者画面　-->
  <div class="form-group">
    <p>答え：<%= @question.correct %></p>
    <p>解答形式 ：<%= I18n.t("activerecord.attributes.question.answer_type.#{@question.answer_type}") %></p>
    <p> ヒント1 ：<%= @question.hint_1 %></p>
    <p> ヒント2 ：<%= @question.hint_2 %></p>
    <p> ヒント3 ：<%= @question.hint_3 %></p>
    <%= link_to "編集する ✏️", edit_question_path(@question), class: "btn-create" %>
  </div>
<% else %>
  <!-- 回答者画面　-->
  <% if @already_correct&.result? %>
    <!-- 正解結果　-->
    <p>あなたの答え：<%= @already_correct.body %></p>
    <p>   正   解  ：<%= @question.correct %></p>
    <p>   結   果  ： <span class="correct">⭕</span> </p>
  <% else %>
    <!-- 回答フォーム -->
    <%= render "questions/answer_form", question: @question %>
  <% end %>

  <!-- 履歴表示 -->
  <% if @answers&.any? %>
    <table class="quiz-table">
      <thead>
        <tr>
          <th>あなたの答え</th>
          <th>結果</th>
          <th>解答日時</th>
        </tr>
      </thead>
      <tbody>
        <% @answers.each do |answer| %>
          <tr>
            <td><%= answer.body %></td>
            <td>
              <% if answer.result %>
                <span class="correct">⭕</span>
              <% else %>
                <span class="incorrect">❌</span>
              <% end %>
            </td>
            <td><%= answer.created_at.strftime("%Y/%m/%d %H:%M") %></td>
          </tr>
        <% end %>
      </tbody>
    </table><br>
  <% end %>
<% end %>

<%= link_to "← 他のクイズを見る", questions_path, class: "btn" %>
