<nav class="bottom-nav">
  <%= link_to root_path do %>
    🏠<br>クイズ一覧
  <% end %>

  <% if user_signed_in? %>
    <%= link_to new_question_path do %>
      ✏️<br>作る
    <% end %>
    <%= link_to user_path(current_user) do %>
      👤<br>マイページ
    <% end %>
  <% else %>

    <%= link_to new_user_session_path do %>
      🚪<br>ログイン
    <% end %>
    <%= link_to new_user_registration_path do %>
      📝<br>ユーザー登録
    <% end %>
  <% end %>
</nav>