<div class="site-header header-inner">
  <a href="/" class="header-logo">🧩Emoji Link</a>

  <!-- ナビメニュー -->
  <nav class="header-nav">
    <% if user_signed_in? %>
      <%= link_to '✏️ クイズを作る', new_question_path, class: 'btn-create' %>
      <%= link_to 'マイページ', profile_path(current_user), class: "header-btn" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_confirm: "ログアウトしてもよろしいですか？" }, class: "header-btn logout" %>
    <% else %>
      <a class="btn-create">✏️ クイズを作る</a>
      <%= link_to 'ログイン', new_user_session_path, class: "header-btn" %>
      <%= link_to 'ユーザー登録', new_user_registration_path, class: "header-btn" %>
    <% end %>
  </nav>

    <div style="position: relative; display: inline-block;">
      <button id="make-quiz" type="button" class="btn-create" title="ログイン促進">✏️ クイズを作る</button>
      <div id="emoji-tooltip" class="emoji-tooltip hidden" role="tooltip" aria-hidden="true">
        <p>クイズを作成するにはログインが必要です。</p>
        <div class="emoji-tooltip-arrow"></div>
      </div>
    </div>

  <!-- モバイルで表示するログアウトボタン -->
  <div class="mobile-header">
    <% if user_signed_in? %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete,
                  data: { turbo_confirm: "ログアウトしてもよろしいですか？" },
                  class: "header-btn logout" %>
    <% else %>
      <%= link_to 'ユーザー登録', new_user_registration_path, class: "header-btn" %>
    <% end %>
  </div>
</div>
