<div class="site-header header-inner">
  <a href="/" class="header-logo">🧩Emoji Link</a>

  <!-- PC用ナビメニュー -->
  <nav class="header-nav">
    <% if user_signed_in? %>
      <%= link_to '✏️ クイズを作る', new_question_path, class: 'btn-create' %>
      <%= link_to 'マイページ', profile_path(current_user), class: "header-btn" %>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, data: { turbo_confirm: "ログアウトしてもよろしいですか？" }, class: "header-btn logout" %>
    <% else %>
      <div style="position: relative; display: inline-block;">
        <button type="button" class="btn-create" title="ログイン促進" data-tooltip-toggle="login-tooltip">✏️ クイズを作る</button>
        <div id="login-tooltip" class="emoji-tooltip hidden" role="tooltip" aria-hidden="true" data-tooltip-body>
          <p>クイズを作るにはログインが必要です。</p>
          <div class="emoji-tooltip-arrow"></div>
        </div>
      </div>
      <%= link_to 'ログイン', new_user_session_path, class: "header-btn" %>
      <%= link_to 'ユーザー登録', new_user_registration_path, class: "header-btn" %>
    <% end %>
  </nav>


  <!-- モバイル用ナビメニュー -->
  <button id="hamburger-btn" class="hamburger-btn" aria-label="メニューを開く" aria-controls="hamburger-nav" aria-expanded="false">
    <span></span>
    <span></span>
    <span></span>
  </button>

  <nav id="hamburger-nav" class="hamburger-nav" aria-hidden="true">
    <ul>
      <li><%= link_to '❓クイズ一覧', questions_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to '✏️クイズを作る', new_question_path %></li>
        <li><%= link_to '👤マイページ', profile_path(current_user) %></li>
        <hr>
        <li>
          <%= link_to '🎈ログアウト', destroy_user_session_path, method: :delete, data: { turbo_confirm: "ログアウトしてもよろしいですか？" } %>
        </li>
      <% else %>
        <li><%= link_to '🚪ログイン', new_user_session_path %></li>
        <li><%= link_to '📝ユーザー登録', new_user_registration_path %></li>
        <hr>
        <li>
          <a href="#" id="open-login-modal-btn" title="クイズを作るにはログインが必要です">✏️クイズを作る</a>
        </li>
      <% end %>
      <li><%= link_to '📘遊び方(作成中)'  %></li>
    </ul>
  </nav>

  <div id="overlay" class="overlay"></div>
</div>

<div id="login-modal" class="modal">
  <div class="modal-content">
    <button id="modal-close-btn" class="modal-close" aria-label="閉じる">×</button>
    <h4>ログインが必要です</h4>
    <p>クイズを作成したり、他のクイズを評価するにはログインが必要です。</p>
    <div class="modal-actions">
      <a href="/users/sign_up" class="btn-create">新規登録</a>
      <a href="/users/sign_in" class="header-btn">ログイン</a>
    </div>
  </div>
</div>
