<div class="site-header header-inner">
  <div class="header-top">
    <a href="/" class="header-logo">ðŸ§©Emoji Link</a>

    <!-- ãƒãƒ³ãƒãƒ¼ã‚¬ãƒ¼ -->
    <label for="menu-toggle" class="hamburger">â˜°</label>
  </div>

  <!-- ãƒã‚§ãƒƒã‚¯ãƒœãƒƒã‚¯ã‚¹ï¼ˆé–‹é–‰ç”¨ï¼‰ -->
  <input type="checkbox" id="menu-toggle" class="menu-toggle" />

  <!-- ãƒŠãƒ“ãƒ¡ãƒ‹ãƒ¥ãƒ¼ -->
  <nav class="header-nav">
    <% if user_signed_in? %>
      <%= link_to 'âœï¸ ã‚¯ã‚¤ã‚ºã‚’ä½œã‚‹', new_question_path, class: 'btn-create' %>
      <%= link_to 'ãƒžã‚¤ãƒšãƒ¼ã‚¸', user_path(current_user), class: "header-btn" %>
      <%= link_to 'ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ', destroy_user_session_path, method: :delete, data: { turbo_confirm: "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆã—ã¦ã‚‚ã‚ˆã‚ã—ã„ã§ã™ã‹ï¼Ÿ" }, class: "header-btn logout" %>
    <% else %>
      <%= link_to 'ãƒ­ã‚°ã‚¤ãƒ³', new_user_session_path, class: "header-btn" %>
      <%= link_to 'ãƒ¦ãƒ¼ã‚¶ãƒ¼ç™»éŒ²', new_user_registration_path, class: "header-btn" %>
    <% end %>
  </nav>
</div>
