<h1>🔐 ログイン</h1>

<div class="login-container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
    <div class="form-group">
      <%= f.label :email, "メールアドレス" %><br>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "パスワード" %><br>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="form-group checkbox">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "ログイン状態を保持する" %>
    </div>

    <div class="form-group">
      <%= f.submit "ログイン🚪", class: "btn-login" %>
    </div>
  <% end %>

  <%= link_to "Googleでログイン", user_google_oauth2_omniauth_authorize_path, method: :post, data: { turbo: false } %>

  <div class="links">
    <%= link_to "パスワードを忘れた方はこちら", new_user_password_path %>
  </div>
</div>