<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Emoji Link" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= display_meta_tags(default_meta_tags) %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon-emoji1.png" type="image/png">
    <link rel="icon" href="/icon-emoji1.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon-emoji1.png">
    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body>
    <%= render 'shared/message' %>
    <%= render 'shared/header' %>
    <%= yield %>
  </body>
  <footer class="footer">
    <%= render 'shared/footer' %>
  </footer>
</html>
